@model IEnumerable<SistemaGestaoP.Models.Alocacao_Aluno_Professor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.anoLectivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aluno.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Classe_Turma.ClasseTurma_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disciplina_Professor.DisciplinaProfessor_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.anoLectivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aluno.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Classe_Turma.ClasseTurma_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disciplina_Professor.DisciplinaProfessor_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Alocacao_Aluno_Professor_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Alocacao_Aluno_Professor_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Alocacao_Aluno_Professor_id })
        </td>
    </tr>
}

</table>
