@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div>
    @Html.ActionLink("Alocacao_Aluno_Professor", "Index", "Alocacao_Aluno_Professor")<br />
    @Html.ActionLink("Alocacao_Aluno_Turma", "Index", "Alocacao_Aluno_Turma")<br />
    @Html.ActionLink("Alunoes", "Index", "Alunoes")<br />
    @Html.ActionLink("Avaliacaos", "Index", "Avaliacaos")<br />
    @Html.ActionLink("Classe_Turma", "Index", "Classe_Turma")<br />
    @Html.ActionLink("Classes", "Index", "Classes")<br />
    @Html.ActionLink("Disciplina_Professor", "Index", "Disciplina_Professor")<br />
    @Html.ActionLink("Disciplinas", "Index", "Disciplinas")<br />
    @Html.ActionLink("Enderecoes", "Index", "Enderecoes")<br />
    @Html.ActionLink("Generoes", "Index", "Generoes")<br />
    @Html.ActionLink("Papels", "Index", "Papels")<br />
    @Html.ActionLink("Professors", "Index", "Professors")<br />
    @Html.ActionLink("Seccaos", "Index", "Seccaos")<br />
    @Html.ActionLink("Tipo_Avaliacao", "Index", "Tipo_Avaliacao")<br />
    @Html.ActionLink("Trimestres", "Index", "Trimestres")<br />
    @Html.ActionLink("Turmas", "Index", "Turmas")<br />
    @Html.ActionLink("Turnoes", "Index", "Turnoes")<br />
    @Html.ActionLink("Utilizadors", "Index", "Utilizadors")<br />
    @Html.ActionLink("Alocacao_Aluno_Turma", "Index", "Alocacao_Aluno_Turma")
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>