@model SistemaGestaoP.Models.AvaliacaoViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @Html.ActionLink("Criar Avaliacao", "gerarAvaliacao")
</p>

<div class="col-md-3 form-group">
    <select class="form-control m-b-10">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
    </select>
</div>
<div class="col-md-3 form-group">
    <select class="form-control m-b-10">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
    </select>
</div>
<div class="col-md-3 form-group">
    <select class="form-control m-b-10">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
    </select>
</div>
<div class="col-md-3 form-group">
    <select class="form-control m-b-10">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
    </select>
</div>

<div class="col-md-3 form-group">
    <button type="submit" class="btn btn-info">Submit</button>
</div>

<table class="table">
    <tr>
        <th>
            Aluno
        </th>
        <th>
            AC1
        </th>
        <th>
            AC2
        </th>
        <th>
            AS1
        </th>
        <th>
            AS2
        </th>
    </tr>

    @foreach (var aluno in Model.AlunoProfessor)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => aluno.Aluno.nome)
            </td>
            @foreach (var avaliacao in Model.Avaliacoes)
            {
                if (aluno.Alocacao_Aluno_Professor_id == avaliacao.alocacaoAlunoProfessorFK && avaliacao.tipoAvaliacaoFK == 1)
                {
                    <td class="edit" data-id="@avaliacao.Avaliacao_id" data-propertyname="nota">
                        @Html.DisplayFor(modelItem => avaliacao.nota)
                    </td>
                }

            }
            @foreach (var avaliacao in Model.Avaliacoes)
            {
                if (aluno.Alocacao_Aluno_Professor_id == avaliacao.alocacaoAlunoProfessorFK && avaliacao.tipoAvaliacaoFK == 2)
                {
                    <td class="edit" data-id="@avaliacao.Avaliacao_id" data-propertyname="nota">
                        @Html.DisplayFor(modelItem => avaliacao.nota)
                    </td>
                }

            }

            <td>
                
                @Model.MediaTrimestral.mediaAvaliacaoContinua(aluno.Alocacao_Aluno_Professor_id,1)
            </td>
            
        </tr>
    }

</table>
@section Scripts {
    @*<script src="https://www.appelsiini.net/download/jquery.jeditable.mini.js"></script>*@
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/jeditable")
<script>

    $(document).ready(function () {
        var oldValue = '';
        $('.edit').editable('/Avaliacaos/editarAvaliacoes/',{
            cssclass: 'jeditForm',
            tooltip: 'edite as notas',
            width: 'none',
            height: 'none',
            onsubmit: function (settings, original) {
                oldValue = original.revert;
            },
            submitdata: function () {
                return {
                    id: $(this).data('id'),
                    PropertyName: $(this).data('propertyname')
                }
            },
            callback: function (value, settings) {
                var jsonData = $.parseJSON(value);
                if (jsonData.status) {
                    $(this).text(jsonData.value);
                } else {
                    $(this).text(oldValue);
                }
            }
        })

        }
    )

</script>
}





