@model IEnumerable<SistemaGestaoP.Models.Avaliacao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alocacao_Aluno_Professor.Alocacao_Aluno_Professor_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Avaliacao.TipoAvaliacao_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trimestre.designacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alocacao_Aluno_Professor.Alocacao_Aluno_Professor_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Avaliacao.TipoAvaliacao_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trimestre.designacao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Avaliacao_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Avaliacao_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Avaliacao_id })
        </td>
    </tr>
}

</table>
